body{
	margin: 0px;
	overflow: hidden;
}
#score{
	position:absolute;
	top:9%;
	left:10%;
	color:white;
	font-size: 36px;
	font-family: helvetica;
}
#level{
	position:absolute;
	top:9%;
	left:80%;
	color:red;
	font-size: 46px;
	font-family: helvetica;
}